* {
	box-sizing: border-box;
}

div.search {
	margin-top: 6px;
}
form {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.d3 {
	background: #fff;
}
.d3 form {
	background: #fff;
}
.d3 input,
.d3 button {
	border: none;
	outline: none;
	background: transparent;
}
.d3 input {
	width: 100%;
	height: 35px;
	padding-left: 15px;
	border-radius: 5px;
}
.d3 button {
	height: 37px;
	width: 37px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.d3 button:before {
	font-size: 16px;
	color: #f9f0da;
}
